.navbar-brand {
    width: 100%;
    min-width: 360px;
}
@media screen and (min-width: 500px) {
}

.container-fluid {
    width: 100%;
}
#nav-link {
    color: white;
}
.container-images {
    max-width: 100%;
    height: auto;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align: middle;

}
.portfolio {
    text-align: center;
}
.portfolio.images {
    border: solid 3px lightcoral;
    padding-bottom: 10em;
}

body {
    background-color: lightgray;
}

.card {
    background-color: whitesmoke;
    border: solid 2px darkgray;
    margin-bottom: auto;
}
.alert {
    background-color: lightgray;
}